{
    "$schema": "https://raw.githubusercontent.com/SchemaStore/schemastore/master/src/schemas/json/eslintrc.json",
    "root": true,
    "ignorePatterns": [
        ".eslintrc.js",
        "node_modules",
        "dist",
        "example",
        "media",
        "fixtures",
        "shared-fixtures",
        "coverage",
        "*.d.ts",
        "__snapshots__"
    ],
    "plugins": [
        "editorconfig",
        "array-func",
        "promise",
        "regexp",
        "radar",
        "jsdoc"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:eslint-comments/recommended",
        "plugin:prettier/recommended",
        "plugin:editorconfig/all",
        "plugin:array-func/all",
        "plugin:promise/recommended",
        "plugin:regexp/recommended",
        "plugin:radar/recommended",
        "plugin:jsdoc/recommended"
    ],
    "rules": {
        "jsdoc/tag-lines": "off"
    },
    "overrides": [
        // Jest Config
        {
            "files": [
                "jest-playwright.config.js",
                "jest.config.js"
            ],
            "env": {
                "node": true
            }
        },
        // Rollup Config
        {
            "files": "rollup.config.js",
            "env": {
                "es6": true
            },
            "parserOptions": {
                "sourceType": "module"
            }
        },
        // All extras for our TypeScript Files
        {
            "env": {
                "browser": true
            },
            "files": [
                "**/*.ts"
            ],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "tsconfigRootDir": "./",
                "project": [
                    "./tsconfig.json"
                ]
            },
            "plugins": [
                "@typescript-eslint/eslint-plugin",
                "eslint-plugin-tsdoc"
            ],
            "extends": [
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking"
            ],
            "rules": {
                "tsdoc/syntax": "warn",
                "@typescript-eslint/require-await": "off",
                "jsdoc/require-param-type": "off",
                "jsdoc/require-returns": "off"
            }
        },
        // Even more for our tests
        {
            "env": {
                "browser": false,
                "jest": true
            },
            "files": [
                "test/**/*.ts"
            ],
            "plugins": [
                "jest",
                "jest-formatting"
            ],
            "extends": [
                "plugin:jest/recommended",
                "plugin:jest/style",
                "plugin:jest-formatting/strict"
            ]
        }
    ]
}
