{
    "printWidth": 120,
    "singleQuote": true,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "babel-ts",
                "experimentalBabelParserPluginsList": [
                    "typescript"
                ]
            }
        },
        {
            "files": "package.json",
            "options": {
                "plugins": [
                    "prettier-plugin-packagejson"
                ]
            }
        },
        {
            "files": "*.md",
            "options": {
                "plugins": [
                    "remark-prettier"
                ]
            }
        }
    ]
}
