{
    "printWidth": 120,
    "singleQuote": true,
    "bracketSpacing": true,
    "overrides": [
        {
            "files": [
                "*.js",
                "*.ts"
            ],
            "options": {
                "plugins": [
                    "@homer0/prettier-plugin-jsdoc"
                ]
            }
        },
        {
            "files": "*.ts",
            "options": {
                "parser": "babel-ts",
                "experimentalBabelParserPluginsList": [
                    "typescript"
                ]
            }
        },
        {
            "files": "package.json",
            "options": {
                "plugins": [
                    "prettier-plugin-packagejson"
                ]
            }
        },
        {
            "files": "tsconfig.json",
            "options": {
                "plugins": [
                    "@tsjson/prettier-plugin-tsjson"
                ]
            }
        },
        {
            "files": "*.md",
            "options": {
                "plugins": [
                    "remark-prettier"
                ]
            }
        }
    ]
}
